@using Microsoft.AspNetCore.Identity
@using VZTest.Models.Test
@model TestCreateModel
@inject SignInManager<IdentityUser> signInManager
@{
    ViewData["Title"] = "Создание теста";
}

@if (!signInManager.IsSignedIn(User))
{
    <partial name="_AuthorisePartial" />
    return;
}

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}

<script src="~/js/SetNumberValidationScript.js"></script>

<style>
    hr {
        margin: 0.5rem 0;
    }
</style>

<h2><i class="bi bi-plus-circle"></i> @ViewData["Title"]</h2>
<hr>

<form method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Description"></label>
        @Html.TextAreaFor(x=>x.Description, new {@class = "form-control"})
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <hr>
    <h2><i class="bi bi-gear"></i> Настройки</h2>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="MaxAttempts"></label>
        <input asp-for="MaxAttempts" class="form-control" />
        <span asp-validation-for="MaxAttempts" class="text-danger"></span>
    </div>

    <div class="form-check">
        <input asp-for="Shuffle" class="form-check-input" type="checkbox" id="anonBox" onchange="CheckAnonimOneOff()">
        <label asp-for="Shuffle" class="form-check-label"></label>
    </div>
    @if (Model?.Questions != null)
    {
        <hr>
        //Loading already created ones
    }
    <hr id="addQuestionPoint">
    <a class="btn btn-outline-info" id="addQuestionBtn" onclick="AddQuestion()"><i class="bi bi-plus-circle-dotted"></i> Добавить вопрос</a>
    <hr>
    <button class="btn btn-outline-primary" type="submit"><i class="bi bi-send-fill"></i> Отправить</button>
</form>