@using Microsoft.AspNetCore.Identity
@using VZTest.Models.Test
@inject SignInManager<IdentityUser> signInManager
@{
    ViewData["Title"] = "Создание теста";
}

@if (!signInManager.IsSignedIn(User))
{
    <partial name="_AuthorisePartial" />
    return;
}

<partial name="_CreateBlocksPartial" />
<script src="~/js/FloatInputLimit.js"></script>
<script src="~/js/CreateScripts.js"></script>

<style>
    hr {
        margin: 0.5rem 0;
    }

    .ml-3 {
        margin-left: 0.5rem !important;
    }
</style>

<h2><i class="bi bi-plus-circle"></i> @ViewData["Title"]</h2>
<hr>

<form method="post">
    <div>
        <label for="Title">Название</label>
        <input id="Title" type="text" class="form-control" />
        <span id="Title-Errors" class="text-danger"></span>
    </div>

    <div>
        <label for="Description">Описание:</label>
        <textarea id="Description" class="form-control" />
        <span id="Description-Errors" class="text-danger"></span>
    </div>

    <hr>
    <h2><i class="bi bi-gear"></i> Настройки</h2>

    <div>
        <label for="Password">Пароль:</label>
        <input id="Password" type = "password" class="form-control" />
        <span id="Password-Error" class="text-danger"></span>
    </div>

    <div>
        <label for="MaxAttempts">Пароль:</label>
        <input id="MaxAttempts" type = "number" class="form-control" />
        <span id="MaxAttempts-Error" class="text-danger"></span>
    </div>

    <div class="form-check">
        <input id="Shuffle" class="form-check-input" type="checkbox">
        <label for="Shuffle" class="form-check-label">Перемешивать порядок вопросов</label>
    </div>
    <hr>
    @if (Model?.Questions != null)
    {
        //Loading already created ones
        foreach (QuestionBlueprint question in Model.Questions)
        {
            <hr>
        }
    }
    <a class="btn btn-outline-info mt-2" id="addQuestionBtn" onclick="AddQuestion()"><i class="bi bi-plus-circle-dotted"></i> Добавить вопрос</a>
    <hr>
    <button class="btn btn-outline-primary" type="submit"><i class="bi bi-send-fill"></i> Отправить</button>
</form>