@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@{
    ViewData["Title"] = "Поиск";
}

<h2><i class="bi bi-search"></i> @ViewData["Title"]</h2>
<hr>

@if (!signInManager.IsSignedIn(User))
{
    <h5 class = "text-center">Войдите в аккаунт</h5>
    return;
}
