@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@{
    ViewData["Title"] = "Поиск";
}

@if (!signInManager.IsSignedIn(User))
{
    <h1 class = "text-center">Войдите в аккаунт</h1>
    return;
}

<h1 class = "text-center">Поиск</h1>