@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@{
    ViewData["Title"] = "Поиск теста";
}

@if (!signInManager.IsSignedIn(User))
{
    <partial name="_AuthorisePartial"/>
    return;
}

<partial name="_AjaxPartial"/>
<partial name="_SweetAlertsPartial"/>
<link rel="stylesheet" href="~/css/Mainbox.css">
<script src = "~/js/SearchScript.js"></script>

<form class="mainbox">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <input id="SearchId" type="number" class="form-control text-center" placeholder = "Введите ID">
    <span class="input-group-btn text-center">
        <a class="btn btn-outline-primary mt-1" onclick="Search();">Найти</a>
    </span>
</form>