@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@{
    ViewData["Title"] = "Поиск теста";
}

@if (!signInManager.IsSignedIn(User))
{
    <partial name="Errors/_AuthorisePartial"/>
    return;
}

<link rel="stylesheet" href="~/css/Mainbox.css">

<form class="mainbox">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <input id="SearchId" type="number" class="form-control text-center" placeholder = "Введите ID">
    <span class="input-group-btn text-center">
        <a class="btn btn-outline-primary mt-1" onclick="Search();">Найти</a>
    </span>
</form>

@section Scripts
{
    <partial name="_AlertsPartial"/>
    <script src = "~/js/SearchScript.js" asp-append-version="true"></script>
}