@{
    ViewData["Title"] = "О сайте";
}
<h1>@ViewData["Title"]</h1>

<p>Сайт сделан <a href = "https://vk.com/sun_lizard">Визелем Леонидом</a></p>
<p>Прошу по возможности не публиковать личную информацию на этом сайте, так как в текущее время участились хохляцкие набеги на российские ресурсы.</p>
