<link rel="stylesheet" href="~/css/Mainbox.css">
<div class="mainbox text-center">
    <h1>Здравствуй, странник!</h1>
    <h5>Не могу вспомнить твоё лицо, авторизуйся пожалуйста!</h5>
    <div class="container justify-content-center">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-primary">Зарегистрироваться</a>
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-primary">Войти</a>
    </div>
</div>