<link rel="stylesheet" href="~/css/Mainbox.css" asp-append-version="true">
<div class="mainbox text-center">
    <h1>Упс...</h1>
    <h3>Кажется, у Вас нет доступа к этой странице!</h3>
    <h5>Предлагаем Вам отправиться на <a asp-controller="Home" asp-action="Index">Главную</a>!</h5>
</div>
<div class="text-center" hidden>
    <h5>Hey buddy, I think you’ve got the wrong door, the leather club’s two blocks down</h5>
</div>