<link rel="stylesheet" href="~/css/Mainbox.css" asp-append-version="true">

<div class="mainbox text-center">
    <h1>404</h1>
    <h3>Извините, мы не смогли найти эту стриницу</h3>
    <h5>Предлагаем Вам отправиться на <a asp-controller = "Home" asp-action = "Index">Главную</a>!</h5>
</div>