@model DateTime
<link rel="stylesheet" href="~/css/Mainbox.css">

<div class="mainbox text-center">
    <h1>Вы немного рановато)</h1>
    <h3>Тестирование откроется в</h3>
    <h3><b>@Model</b></h3>
    <h5>Предлагаем Вам отправиться на <a asp-controller = "Home" asp-action = "Index">Главную</a> или подождать!</h5>
</div>